---
import { getCollection } from "astro:content";
import Layout from "../../layouts/main.astro";
import { generateSlug } from "../../utils/slugHelper"; // Import the slug helper

type EpisodeData = {
  title: string | null;
  description: string | null;
  summary: string | null;
  date: Date | null;
  pubdate: Date | null; // You can keep this as Date for consistency
  link: string | null;
  origlink: string | null;
  author: string | null;
  enclosures?: Array<{
    url: string;
    type: string;
  }>;
  image?: {
    url: string;
  }; // Changed from "itunes:image" to match actual data structure
  "itunes:explicit"?: string;
  "itunes:duration"?: string;
  "itunes:season"?: number;
  "itunes:episode"?: number;
  "itunes:episodeType"?: string;
  "dc:creator"?: string;
  meta?: {
    image?: {
      url: string;
      title?: string;
    };
  };
};

export async function getStaticPaths() {
  const episodes = await getCollection("podcasts");
  return episodes.map((episode) => ({
    params: { slug: generateSlug(episode.data.link, episode.data.title, episode.id) }, // Generate slug
    props: { episode },
  }));
}

const episode = Astro.props.episode.data as EpisodeData;
---

<Layout title={episode.title}>
  <main
    class="relative z-30 max-w-4xl pb-1 mx-auto mt-10 bg-white dark:bg-neutral-950 md:rounded-t-md text-neutral-900"
  >
    <div
      class="relative flex flex-col px-5 pt-6 border-t border-b-0 md:border-r md:border-l md:pt-20 lg:px-0 justify-stretch md:rounded-t-2xl border-neutral-200 dark:border-neutral-800"
    >
      <div
        class="absolute top-0 left-0 hidden w-px h-full mt-1 -translate-x-px md:block bg-gradient-to-b from-transparent to-white dark:to-neutral-950"
      >
      </div>
      <div
        class="absolute top-0 right-0 hidden w-px h-full mt-1 translate-x-px md:block bg-gradient-to-b from-transparent to-white dark:to-neutral-950"
      >
      </div>


    <div class="w-full max-w-2xl mb-5 mx-auto">
      <!-- Publication Date -->
      <div class="mt-2.5 text-xs font-medium text-neutral-800 dark:text-neutral-300 text-left">
        {new Date(episode.pubdate || "").toLocaleDateString('uk-UA', {
          day: '2-digit',
          month: 'long', 
          year: 'numeric',
        })}
      </div>
      
      <!-- Episode Title -->
      <h1 class="text-3xl font-bold leading-tight text-left md:text-4xl dark:text-neutral-100 lg:text-5xl md:leading-none">
        {episode.title || "Untitled Episode"}
      </h1>
    </div>

  


  <article
      class="w-full max-w-2xl mx-auto mb-5 prose-sm prose px-7 lg:px-0 lg:prose-lg dark:prose-invert"
    >
<div class="flex flex-col items-center md:flex-row">
  <div class="relative w-full md:w-1/2">

    <!-- Episode Audio Player -->
  {episode.enclosures?.map((enclosure) => (
    <audio controls>
      <source src={enclosure.url} type={enclosure.type} />
      Your browser does not support the audio element.
    </audio>
  ))}


    <div set:html={episode.description}></div>


  <div class="flex space-x-4 items-center lg:justify-center">
          <a href="https://podcasts.apple.com/ua/podcast/дорогою-по-каву/id1756142317" target="_blank" rel="noopener noreferrer" data-encore-id="textLink" class="Link-sc-k8gsk-0 drANYv">
            <img src="/assets/images/social/apple_podcasts.png" 
                 srcset="/assets/images/social/apple_podcasts.png 1x, /assets/images/social/apple_podcasts@2x.png 2x" 
                 alt="Apple Podcasts Logo" height="28" width="28">
          </a>
          
          <a href="https://open.spotify.com/show/35c0XGFoWt9shusL4EHawq" target="_blank" rel="noopener noreferrer" data-encore-id="textLink">
            <img src="/assets/images/social/spotify.png" 
                 srcset="/assets/images/social/spotify.png 1x, /assets/images/social/spotify@2x.png 2x" 
                 alt="Spotify Logo" height="28" width="28">
          </a>

          <a href="https://overcast.fm/itunes1756142317" target="_blank" rel="noopener noreferrer" data-encore-id="textLink" class="Link-sc-k8gsk-0 drANYv">
            <img src="/assets/images/social/overcast.png" 
                 srcset="/assets/images/social/overcast.png 1x, /assets/images/social/overcast@2x.png 2x" 
                 alt="Overcast Logo" height="28" width="28">
          </a>

          <a href="https://anchor.fm/s/f887d5f4/podcast/rss" target="_blank" rel="noopener noreferrer" data-encore-id="textLink">
            <svg width="28" height="28" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" class="">
              <g fill="none" fill-rule="evenodd">
                <rect fill="#FE8A4C" width="28" height="28" rx="6"></rect>
                <path d="M6.822 18.5361504c.74088889 0 1.36666667.2645781 1.87755556.7932873.51866666.5139607.77777777 1.1398755.77777777 1.877074 0 .7371984-.25911111 1.3666886-.77777777 1.888247-.51088889.5139608-1.13666667.7707177-1.87755556.7707177-.73355556 0-1.35555556-.2567569-1.86666667-.7707177-.51088889-.5215584-.76644444-1.1508251-.76644444-1.888247 0-.737422.25555555-1.3633368.76644444-1.877074.51133334-.5289327 1.13311111-.7932873 1.86666667-.7932873zm-2.54422222-6.9831622c.17022222-.1937408.38488889-.3054714.644-.3351918v-.011173h1.08888889c2.97044444 0 5.51133333 1.0576418 7.62244443 3.1731489 2.1111111 2.1003117 3.1775556 4.6441939 3.2 7.6309762v1.0614406h-.0113333c-.0222222.2382097-.1184445.4431236-.2891111.6145183-.1702223.1713947-.3775556.2719523-.622.3018961v.011173h-1.8555556c-.2595555-.0073742-.4853333-.0969821-.678-.2681534-.1926667-.1861432-.3037778-.4058055-.3333333-.6592105h-.0113334v-1.0614407h.0113334c-.0222222-1.9291404-.7148889-3.5791778-2.0777778-4.9494419-1.38533333-1.3633367-3.03733333-2.0446699-4.95577778-2.0446699h-.04355555v.0111731H4.92177778v-.0111731c-.23688889-.0299438-.44444445-.126479-.622-.2904995-.17066667-.1713947-.26311111-.379884-.27777778-.6256913H4v-1.8661244c.01466667-.2607792.10711111-.4880393.27777778-.6815567zM4 6.89382242v-1.877074c.01466667-.26077921.10711111-.48803924.27777778-.68155663.17022222-.19374086.38488889-.30547145.644-.33519179h1.08888889C10.9515556 4 15.1813333 5.75774572 18.6995556 9.27368409 22.2182222 12.7967732 23.9848889 17.0425358 24 22.0109719v1.0614407h-.0113333c-.0295556.2382096-.1257778.4431235-.2891111.6145183-.1702223.1713947-.3775556.2719522-.622.301896V24h-1.8553334c-.2595555-.0073742-.4853333-.0969822-.678-.2681534-.1926666-.1861432-.3037778-.4058056-.3333333-.6592105h-.0113333v-1.0614407h.0113333c-.0146667-3.918392-1.4108889-7.2627121-4.1886667-10.0336309-2.7704444-2.78589066-6.10755553-4.17872426-10.01133331-4.17872426h-.04422222v.01117306H4.92177778v-.01117306c-.23688889-.02256958-.44444445-.11910482-.622-.29049955-.17066667-.1716182-.26311111-.37630865-.27777778-.61451827H4z" fill="#FFF" fill-rule="nonzero"></path>
              </g>
            </svg>
          </a>
        </div>

      </div>

      <div class="relative justify-end hidden w-full mt-10 md:flex md:pl-10 md:w-1/2 md:mt-0 md:translate-y-4 xl:translate-y-0">
        <div class="relative z-50 w-full">
        <!-- Episode Cover Image -->
            {episode?.image?.url ? (
              <img
                src={episode.image.url}
                alt={`Cover image for ${episode.title}`}
                class="episode-cover"
                style={{ width: '300px', height: 'auto' }}
              />
            ) : (
              episode?.meta?.image?.url && (
                <img
                  src={episode.meta.image.url}
                  alt={`Cover image for ${episode.meta?.image?.title || episode.title}`}
                  class="podcast-cover"
                  style={{ width: '300px', height: 'auto' }}
                />
              )
            )}
        </div>
      </div>
    </div>


    </article>
  </main>
</Layout>
